body{
    background-color:#1A237E;
}
ul{
    width: 400px;
    margin: auto;
    padding: 0%;
}
input{
    display: block;
    width: 390px;
    margin: auto;
    border-radius: 30px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    background-color: #C5CAE9;
}
button{
    display: block;
    margin: auto;
    background-color:#03A9F4;
    width: 100px;
    height: 40px;
   border-radius: 30px;
}
#trash{
    float: right;
    padding-right: 5%;   
}
li{
   list-style-type: none;
   padding: 5%;
   border: 1px solid;
   background-color:#3F51B5;
   border-radius: 30px;
   color: white;
   font-size: larger;
}
